html, body{
  height: 100%;
  width: 100%;
}


p{
  font-size: 1.05em;
}

.fullHeight{
  height: 100%;
}

.fullWidth{
  width: 100%;
}

headline{
  display: block;
  font-size: 3em;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

underline{
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}

#intro{
  background-color: rgba(255, 255, 255, 0.8);
  width: 40%;
  border-radius: 3px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
  0% { opacity: 0; }
  10% { opacity: 0.3; }
  20% { opacity: 0.6; }
  40% { opacity: 0.8; }
  80% { opacity: 0.9 }

}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% { opacity: 0; }
  10% { opacity: 0.3; }
  20% { opacity: 0.6; }
  40% { opacity: 0.8; }
  80% { opacity: 0.9 }

}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% { opacity: 0; }
  10% { opacity: 0.3; }
  20% { opacity: 0.6; }
  40% { opacity: 0.8; }
  80% { opacity: 0.9 }

}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% { opacity: 0; }
  10% { opacity: 0.3; }
  20% { opacity: 0.6; }
  40% { opacity: 0.8; }
  80% { opacity: 0.9 }

}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% { opacity: 0; }
  10% { opacity: 0.3; }
  20% { opacity: 0.6; }
  40% { opacity: 0.8; }
  80% { opacity: 0.9 }

}


.frontpage{
  background-image: url("../img/frontpage.jpg");
  background-size: cover;
  background-position: center;

}

.logo{
  width: 100%;
  height: 100px;
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
}

.logo .sidebarDiv{
  width: 100%;
  display: block;
}

.searchBar{
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #606060;
}

.search{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10%;
  display: block;
  background-color: #606060;
  text-decoration-color: white;
  border: none;
  width: 85%;
}

.search:focus{
  outline: none;
  color: white;
}

h1{
  text-align: center;
}

h3{
  color:black;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

.link{
  color: black;
}

.link:hover{
  color: #606060;
  text-decoration: none;
  text-shadow: 3px 3px #a8a8a8;
}

.sidebar {
  width: 15%;
  background-color: #f2f2f2;
  float:left;
  position: fixed;
  clear: both;
}

.sidebar *{
  display: inline-block;
}

.content{
  margin-left: 15%;
  padding: 15px 15px 15px;
  width: 85%;

}


.contentDiv{
  border-radius: 5px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  background-color: #f2f2f2f2;
  overflow:hidden;
  clear: both;
  display: inline-block;
  width: 100%
}


.backgroundColor{
    background-color: #ffffff;
    z-index: 0;
}

.sidebarColor{
    background-color: #ffffff;
    z-index: 0;
}

.sidebarContent{
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

}

.sidebarDiv{
  width:100%;
  margin-bottom: 20px;
}

.sidebarHeight{
  height: 50px;
}

.nyheder{
  clear:both;
  background-color: #ffffff;
  overflow: hidden
}

.contentDiv h1{
  padding-top: 30px;
}

.nyhed{
  clear: both;
  height: auto;
  padding-top: 40px;
  z-index: 999999;
}

.nyhed .dato{
  float: left;
  background-color: #c1071f;
  border-radius: 5px;
  height: 70px;
  width: 115px;
  margin-left: 20px;
  color:white;
  margin-right: 30px;

}

.nyhed .dato h3 {
  margin-top: 5px;
  margin-bottom: -30px;
  text-align: center;
}

.nyhed .dato p{
  text-align: center;
}

.nyhed .billeder {
  float: left;
  margin-right: 30px;
}

.nyhed .billeder img{
  height: 350;
  width: 450.563px;
  border-radius: 5px;
  float: left;
}

.nyhed .tekst {
  width: 600px;
  float: left;
  display: block;


}

.nyhed .tekst .title{

}

.nyhed .tekst .byline{

}


.om{
  background-color: #f2f2f2;
}

.om .intro {
  padding-right: 20%;
  padding-left: 20%;
  text-align: center;
}


.pair .left{
  margin: 0px 0px 0px 0px;
  width: 50%;
  float: left;
  display: block;
  text-align:justify;
  padding-left: 10%;
  padding-right: 0px;
}

.pair .right{
  margin: 0px 0px 0px 0px;
  width: 50%;
  float: right;
  display: block;
  text-align:justify;
  padding-left: 0px;
  padding-right: 100px;
}


#om .pair {
  clear:both;
  height: inherit;
  overflow: hidden;
}


#om p {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#om .img{
  height: 100%;
  width: 100%;
  background-repeat:no-repeat;
}


#omImg1{
  background-image: url("../img/om/1.jpg");

}

#omImg2{
  background-image: url("../img/om/2.jpg");

}

#omImg3{
  background-image: url("../img/om/3.jpg");

}

/* Tekst inde i "søg" */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}


.galleri{
  clear:both;
  background-color: #f2f2f2;
}

.kontaktOs{
  clear: both;
  background-color: #f2f2f2;
}

#kontaktOs .left{
  margin: 20px 0px 0px 55px;
  min-height: 200px;
  width: 45%;
  float: left;
  display: block;
}

#kontaktOs .right{
  margin: 20px 10px 0px 0px;
  min-height: 200px;
  width: 50%;
  float: right;
  display: inline;
  height: auto;
}

#kontaktJPG{
    float: right;
    margin-right: 50px;
    border-radius: 5px;
}

.slideshow-container{
  clear: both;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.show {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.7s;
  animation-name: fade;
  animation-duration: 0.7s;
  opacity: 1;
}

.mySlides .img{
  height: 630.859px ;
  width: 1000px;
  background-position: center;
  background-size: cover;
}

#pubinfo *{
  text-align: center;
}

.dropdown {
    position: relative;
    display: inline;
    text-align: center;
}

.dropdown:hover{
  cursor: pointer;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


@-webkit-keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}



.center{
    display: block;
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
}

.center *{
    margin: 0 0 0 0;
}

.package{
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.sponsorpic {
    border-radius: 5px;
    float: left;
    display: block;
}
